
header {
    background-color: red !important;
    height: 15vh;
}

section {
    background-color: yellow;
    height: 70vh;

}

footer {
    background-color: blue;
    height: 15vh;
}

ul {
    /* float: right; */
}

header {
    background-color: #ffffff;
}

#profileImage {
    width: 25%;
    margin-right: 1.5em;
}