.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

body {
    color: #777777;
    /* background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}


h1 {
 
   color: #ffffff;
   font-family: 'Playfair Display', serif;
}

h2 {
    color: #4aaaa5;
    font-family: 'Playfair Display', serif;
}


header {
    background-color: #ffffff !important;
    height: 11vh;
    border-style: solid;
    border-width: 0px 0px 2px;
    border-color: #cccccc;
    background-color: #ffffff;
}

.main {
    border-style: solid;
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 1px;
}
section {
   

    background-color: #dddddd;
    /* height: 81vh; */

}

.button {
    color: #ffffff;
    background-color: #4aaaa5;
}

footer {
    background-color: #666666;
    height: 8vh;
    border-style: solid;
    border-width: 4px 0px 0px;
    border-color: #4aaaa5;
    color: #ffffff;
    font-size: 13px;
}

ul {

}

img {
    width: 45%;
}

#profileImage {
    width: 25%;
    margin-right: 1.5em;
}
.head{
    background-color: #4aaaa5;
}

.imgCard {
    width: 40%;
    float: left;
}
.cardText {
    color: #ffffff;
    background-color: #4aaaa5;
}
@media screen and (max-width: 1000px) {
    h1{
        font-size: 2.3em;
    }
}