.mainBackground {
    background: #dddddd;
}

.navLink{
    color: lightslategray;
}

h1 {
    /* background: #4aaaa5; */
    color: #ffffff;
}

.nav1 {
    margin-left: 40px;
}

.nav2 {
    margin-right: 40px
}

.mainArea{
    margin-left: 10%;
}

.profileImage{
    width: 20%;
    height: 20%;
}